#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  @media screen and (max-width: 861px) {
    flex-direction: column;
    margin-bottom: 20px;
  }

  aside {
    flex: 7;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8rem 80px;  

    @media screen and (max-width: 861px) {
      padding: 30px 4.5rem;
      align-items: center;
    }

    img {
      max-width: 320px;
      

      @media screen and (max-width: 861px) {
        max-width: 300px;
        max-height: 200px;
      }
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;

      @media screen and (max-width: 861px) {
        flex-direction: column;
        font: 700 30px "Poppins", sans-serif;
        text-align: center;
      }
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;

      @media screen and (max-width: 861px) {
        text-align: center;
      }
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 861px) {
      margin-top: 25px;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: "Poppins", sans-serif;

      @media screen and (max-width: 861px) {
        margin: 40px 0 24px;
      }
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }

    button.facebook-login {
      background: #326cfa;

      .facebook-icon {
        margin-right: 10px;
        height: 20px;
      }
    }

    button.google-login {
      background: #ea4335;

      .google-icon {
        margin-right: 10px;
        height: 20px;
      }
    }

    .user-info {
      align-items: center;
      justify-content: center;
      margin: 15px 0 15px;
  
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
  
      span {
        display: block;
        margin-top: 0.5rem;
        color: #737380;
        font-size: 14px;
        font-weight:700;
      }

      .button-logout {
        background: none;
        margin-top: 1rem;
        width: 10rem;
        padding: 0.2rem;
        font-size: 0.9rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        color: #F063F0;
        font-weight: 600;
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    & + .create-room {
      margin-top: 20px;
    }
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 25px  0 25px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}
